<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.task.mapper.ContentItemMapper">
    <resultMap id="BaseResultMap" type="com.cj.task.entity.ContentItem">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="value" property="value" jdbcType="VARCHAR"/>
        <association property="content" javaType="com.cj.task.entity.Content"/>
        <association property="field" javaType="com.cj.task.entity.Field"/>
    </resultMap>
    <resultMap id="contentItemWithFieldMap" type="com.cj.task.entity.ContentItem"
               extends="BaseResultMap">
        <association property="field" javaType="com.cj.task.entity.Field">
            <id column="field_id" property="id" jdbcType="INTEGER"/>
            <result column="field_name" property="name" jdbcType="VARCHAR"/>
            <result column="field_description" property="description" jdbcType="VARCHAR"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        id,value
    </sql>
    <!--插入表单详情-->
    <insert id="save" parameterType="com.cj.task.entity.ContentItem" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        content_item
        (value,content_id,field_id)
        VALUES
        (#{value},#{content.id},#{field.id})
    </insert>
    <!--修改表单详情信息-->
    <update id="update" parameterType="com.cj.task.entity.ContentItem">
        UPDATE
        content_item
        SET
        value=#{value}
        WHERE
        content_id=#{content.id} AND field_id=#{field.id}
    </update>
    <!--根据表单概要ID删除表单详情-->
    <delete id="delete" parameterType="com.cj.task.entity.ContentItem">
        delete from content_item
        where content_id= #{content.id}
    </delete>
    <!--根据表单概要ID查找表单详情-->
    <select id="findContentItems" resultMap="contentItemWithFieldMap">
        SELECT
        ci.id,ci.value,
        f.id AS field_id,f.name AS field_name,f.description AS field_description
        FROM content_item ci LEFT JOIN field f
        ON ci.field_id=f.id
        WHERE content_id=#{conId}
    </select>
</mapper>