<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.task.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.cj.task.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="token" property="token" jdbcType="VARCHAR"/>
        <result column="isadmin" property="isAdmin" jdbcType="BOOLEAN"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,account,nick_name,token,isadmin
    </sql>
    <!--根据account查找用户-->
    <select id="findUserByAccount" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE account=#{account}
    </select>
    <!--插入用户-->
    <insert id="save" parameterType="com.cj.task.entity.User">
        INSERT INTO
        user
        (account,nick_name,pwd)
        VALUES
        (#{account},#{nickName},#{pwd})
    </insert>
    <!--根据account和pwd查找用户-->
    <select id="findUserByAccountAndPwd" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE account=#{account}
        AND pwd=#{pwd}
    </select>
    <!--生成token-->
    <update id="updateUserByToken" parameterType="com.cj.task.entity.User">
        UPDATE
        user
        SET
        token=#{token}
        WHERE
        id=#{id}
    </update>
    <!--根据token获取用户信息-->
    <select id="findUserByToken" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE token=#{token}
    </select>
    <!--修改个人信息-->
    <update id="updateUserinfo" parameterType="com.cj.task.entity.User">
        UPDATE
        user
        SET
        nick_name=#{nickName}
        WHERE
        id=#{id}
    </update>
</mapper>