<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.task.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.cj.task.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="token" property="token" jdbcType="VARCHAR"/>
        <result column="isadmin" property="isAdmin" jdbcType="BOOLEAN"/>
    </resultMap>
    <resultMap id="userLikeTaskMap" type="com.cj.task.entity.User"
               extends="BaseResultMap">
        <collection property="likeTasks" ofType="com.cj.task.entity.Task">
            <id column="task_id" property="id" jdbcType="INTEGER"/>
            <result column="task_title" property="title" jdbcType="VARCHAR"/>
            <result column="task_description" property="description" jdbcType="VARCHAR"/>
            <result column="task_publish_time" property="publishTime" jdbcType="TIMESTAMP"/>
            <result column="task_deadline" property="deadline" jdbcType="TIMESTAMP"/>
        </collection>
    </resultMap>
    <!--<resultMap id="userLikeTasks" type="com.cj.task.entity.User" extends="BaseResultMap">-->
        <!---->
    <!--</resultMap>-->
    <sql id="Base_Column_List">
        id,account,pwd,nick_name,token,isadmin
    </sql>
    <sql id="Base_Column_UserList">
        id,account,nick_name,isadmin
    </sql>
    <!--根据account查找用户-->
    <select id="findUserByAccount" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE account=#{account}
    </select>
    <!--插入用户-->
    <insert id="save" parameterType="com.cj.task.entity.User">
        INSERT INTO
        user
        (account,nick_name,pwd)
        VALUES
        (#{account},#{nickName},#{pwd})
    </insert>
    <!--根据account和pwd查找用户-->
    <select id="findUserByAccountAndPwd" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE account=#{account}
        AND pwd=#{pwd}
    </select>
    <!--生成token-->
    <update id="updateUserByToken" parameterType="com.cj.task.entity.User">
        UPDATE
        user
        SET
        token=#{token}
        WHERE
        id=#{id}
    </update>
    <!--根据token获取用户信息-->
    <select id="findUserByToken" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE token=#{token}
    </select>
    <!--修改个人信息-->
    <update id="updateUserinfo" parameterType="com.cj.task.entity.User">
        UPDATE
        user
        SET
        nick_name=#{nickName}
        WHERE
        id=#{id}
    </update>
    <!--修改个人密码-->
    <update id="updatePwd" parameterType="com.cj.task.entity.User">
        UPDATE
        user
        SET
        pwd=#{pwd}
        WHERE
        id=#{id}
    </update>
    <!--查看用户列表-->
    <select id="userList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_UserList"/>
        FROM user
    </select>
    <!--根据用户ID获取用户信息-->
    <select id="findUserById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE id=#{id}
    </select>
    <!--根据用户ID删除用户-->
    <delete id="delete" parameterType="com.cj.task.entity.User" >
        delete from user
        where id = #{id}
    </delete>
    <!--查询用户所收藏的表-->
    <select id="findAllWithLikeTask" resultMap="userLikeTaskMap">
        SELECT u.id,u.account,u.pwd,u.nick_name,u.token,u.isadmin,
        t.id as task_id,t.title as task_title,t.description as task_description,
        t.publish_time as task_publish_time,t.deadline as task_deadline
        FROM user u LEFT JOIN  user_like_tasks ut
        on u.id=ut.like_users_id
        LEFT JOIN task t
        ON t.id=ut.like_tasks_id
        WHERE u.id=#{userID}
    </select>
</mapper>